<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

        <!-- Add jQuery script -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title> Restaurant Reviewer </title>
	
        <style> 
        .review span{ background: #C9B3FF; cursor: pointer }
        .review span.neg{background: #FFB3BA; }
        .review span.pos{background: #B3FFD2; }
        .review span.neutral{background: #FBFFB3; }
        .review span:hover{ background: yellow; }
        .review {width:400px}
        .instructions {border: 1px solid #DCDCDC; font-style: italic}
        </style>
        
     <script> // Scripts go here
     var current_selected_text = "";
     
     function make_positive_text(){
         // both parameters of data are strings
         current_selected_text.data('sentiment', 'pos')
         //current_selected_text.css('background', '#B3FFD2')
         //current_selected_text.switchClass('pos neg neutral', 'pos')
         current_selected_text.removeClass('pos neg neutral').addClass('pos')
         
     }
     
     function make_negative_text(){
         current_selected_text.data('sentiment', 'neg')
         //current_selected_text.css('background', '#FFB3BA')
         //current_selected_text.switchClass('pos neg neutral', 'neg')
         current_selected_text.removeClass('pos neg neutral').addClass('neg')
         
     }
     
     function make_neutral_text(){
         current_selected_text.data('sentiment', 'neutral')
         //current_selected_text.css('background', '#FBFFB3')
         //current_selected_text.switchClass('pos neg neutral', 'neutral')
         current_selected_text.removeClass('pos neg neutral').addClass('neutral')
         
     }
     
     // e is our parameter, target is something that belongs to e
     $(function(){
             
         //submit is a function call. and our value is an unamed function
         // to submit
         $("form").submit(function(e){
                 
                 if ($('input[name=stars]:checked').val() == undefined){
                  e.preventDefault()
                  alert("You need to give us a starred rating")
                  return
                     
                 }
                 
                // e.preventDefault()
                 
                 // select all review spans
                 var span = $(".review span")
                 var returned_array = []
                 
                 for(var i = 0; i < span.length; i++){
                     console.log($(span[i]).data("sentiment"))
                     //$(span[i]).data("sentiment")
                     returned_array.push({"key":$(span[i]).data("start"), "value": $(span[i]).data("sentiment")})
                 }
                 $("input[name='hidden_sentiment']").val(JSON.stringify(returned_array))
                 
     })
             
             
         $(".review span").click(function(e){
             console.log(e.target)
             current_selected_text = $(e.target)
     })}) // waits until everything is loaded - then we can have our spans we can attach to.  When it gets a click, then we do that function
     
     </script>
    
        
     </head>

     
     <p class='instructions'>
     {{instructions|safe}}
     </p>
     
    <p>
    <!-- Create buttons that will allow us to edit text -->
    {%if review_id != 'done' and allow_change == True %}
    <div>
    <input type="button" value="Positive" onclick="make_positive_text()" />
	<input type="button" value="Negative" onclick="make_negative_text()" />
	<input type="button" value="Neutral" onclick="make_neutral_text()" />
    </div> 
     {% endif %}
    <p class="review">
    {{review_text|safe}}
     
    </p>   
    {%if review_id != 'done' %}
            <form class="form-inline" role="form" method="post">
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="stars" id="stars" value="1"> 1 Star
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="stars" id="stars" value="2"> 2 Star
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="stars" id="stars" value="3"> 3 Star
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="stars" id="stars" value="4"> 4 Star
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="stars" id="stars" value="5"> 5 Star
                    </label>
                </div>
                <div class="form-group">
               
                    <button type="submit" class="btn btn-default">Save</button>
                    <input type="hidden" name="hidden_sentiment"> 
                    <input type="hidden" name="review_id" value="{{ review_id }}">
                
                </div>
            </form>
            {% endif %}
        </div>

        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>